/* index.html */
.convo {
    display: none;
    margin: auto;
    margin-top: 50px
}
.goOrno {
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-family: 'BenchNine', sans-serif;
    font-size: 26px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 50px;
} 

.goOrno:hover {
    background-color: white;
    color: black;
}
