/* Resume page */ 
#paint {
    position: static;
}
#canvasDraw {
    margin-top: 10px;
    margin-left: 12%;
    cursor: url(../images/resume/pen.png), auto;
}
.colorChoice {
    width: 5%;
    position: fixed;
    padding: 5px;
    border: 1px solid #330066;
    background: linear-gradient(to bottom right, #7334ff, white);
    border-radius: 10px;
    margin-top: 90px;
    margin-left: 5px;
}
.colorButton {
    position: relative;
    background-color: lightgrey; 
    border: 1px solid #330066;
    color: #7334ff;
    width: 100%;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 120%;
    font-family: 'BenchNine', sans-serif;
    margin: auto;
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.4s;
}
.colorButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}