body {
    background-color: #060060;
    background-image: url("background.jpg");
}
button {
  margin-bottom: 10px;
  font-size: 100%;
  font-family: Arial;
  color: #000000;
}
#myCanvas {
  background-color: #4d79ff;
}
* {
  font-size: 100%;
  font-family: Arial;
  color: #ffffff;
}
input {
  color: black;
}
